<md-sidenav-layout fullscreen>

	<md-sidenav #sidenav>
		<md-nav-list>
			<a *ngFor="let item of navItems"
				md-list-item [routerLink]="item.path" (click)="sidenav.toggle()">
				<md-icon md-list-icon>{{ item.icon }}</md-icon>
				<span md-line>{{ item.text }}</span>
				<span md-line class="secondary">{{ item.description }}</span>
			</a>
		</md-nav-list>
	</md-sidenav>

	<md-toolbar color="primary" class="md-elevation-z4">
		<button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    {{ title }}
	</md-toolbar>

	<div class="container">
		<router-outlet></router-outlet>
	</div>

</md-sidenav-layout>