<div class="row">
  <div class="col-lg-4">
    <div *ngIf="hero" class="herodetail">
      <md-card>
        <md-card-title>{{ hero.name }} details!</md-card-title>
        <md-card-content>
          <md-input placeholder="id" [ngModel]="hero.id" disabled></md-input>
          <md-input placeholder="name" [(ngModel)]="hero.name"></md-input>
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="accent" (click)="goBack()">
            Go Back
          </button>
          <button md-raised-button color="accent" (click)="save()" >
            Save
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>