@import '~@angular/material/core/theming/all-theme';

//$primary: md-palette($md-teal);
$primary: md-palette($md-indigo);
//$primary: md-palette($md-pink, 700, 500, 900);
//$accent:  md-palette($md-purple, 700, 600, 800);
$accent: md-palette($md-pink);
//$accent: md-palette($md-blue-grey, A200, A100, A400);

$theme: md-light-theme($primary,$accent);
