@import '../../../../variables';
$backcolor: rgba(map-get($accent, default),.4);
$contrast: map-get($accent, "default-contrast");

.herolist {

  md-card {

    > md-card-title {
      color: #fff;
      background: rgba(0, 0, 0, .2);
      margin: -24px -24px 0;
      padding: 24px 24px 16px;
      border-radius: 2px 2px 0 0;
    }

    md-nav-list {

      // Correct width is 100% less sibling elements total width
      [md-list-avatar] + .md-list-text {
        width: calc(100% - 80px);
      }

      span[md-list-avatar] {
        display: inline-table;
        line-height: 40px;
        text-align: center;
        background: rgba(0, 0, 0, .1);
      }

      .md-list-item {
        transition: all .15s ease-in-out;
      }

      md-list-item.selected {
        >.md-list-item, >.md-list-item:hover {
          background: $backcolor;
          color: $contrast;
          border-radius: 4px;
        }
      }

    }
    
  }

}

.herodetail {
  img {
    width: 100%;
  }
}